---
---

<section
    class="relative flex justify-center items-center w-2/5 max-w-52 md:max-w-60 my-0 mx-auto bg-red-700 rounded-full aspect-square">
    <div
        class="absolute w-[95%] rounded-full border-x-4 border-solid border-yellow-400 aspect-square -rotate-45 z-10"
    >
    </div>
    <div
        class="absolute w-[90%] p-5 rounded-full bg-gradient-to-b from-black from-60% to-red-700 aspect-square z-10"
    >
        <slot/>
    </div>
</section>
